apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: zone-1-hpa
  namespace: darkages
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zone-1
  minReplicas: 1
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
    - type: Pods
      pods:
        metric:
          name: darkages_player_count
        target:
          type: AverageValue
          averageValue: "400"  # Scale when >400 players per pod
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
        - type: Percent
          value: 100
          periodSeconds: 60
        - type: Pods
          value: 2
          periodSeconds: 60
      selectPolicy: Max
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Percent
          value: 10
          periodSeconds: 60
        - type: Pods
          value: 1
          periodSeconds: 60
      selectPolicy: Min
---
# Custom Metrics API for player count scaling
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1beta1.custom.metrics.k8s.io
spec:
  service:
    name: custom-metrics-apiserver
    namespace: darkages
  group: custom.metrics.k8s.io
  version: v1beta1
  insecureSkipTLSVerify: true
  groupPriorityMinimum: 100
  versionPriority: 100
---
# Custom metrics adapter for Prometheus
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-adapter
  namespace: darkages
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-adapter
  template:
    metadata:
      labels:
        app: prometheus-adapter
    spec:
      serviceAccountName: prometheus-adapter
      containers:
        - name: adapter
          image: registry.k8s.io/prometheus-adapter/prometheus-adapter:v0.11.1
          args:
            - --cert-dir=/var/run/serving-cert
            - --config=/etc/adapter/config.yaml
            - --logtostderr=true
            - --metrics-relist-interval=1m
            - --prometheus-url=http://prometheus.darkages.svc.cluster.local:9090
            - --secure-port=6443
          ports:
            - containerPort: 6443
              name: https
          volumeMounts:
            - mountPath: /etc/adapter
              name: config
              readOnly: true
      volumes:
        - name: config
          configMap:
            name: prometheus-adapter-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-adapter-config
  namespace: darkages
data:
  config.yaml: |
    rules:
      - seriesQuery: 'darkages_player_count{namespace="darkages"}'
        resources:
          overrides:
            namespace:
              resource: namespace
            pod:
              resource: pod
        name:
          matches: "^(.*)_count"
          as: "${1}_count"
        metricsQuery: sum(<<.Series>>{<<.LabelMatchers>>}) by (<<.GroupBy>>)
      
      - seriesQuery: 'darkages_tick_duration_ms{namespace="darkages"}'
        resources:
          overrides:
            namespace:
              resource: namespace
            pod:
              resource: pod
        name:
          matches: "darkages_tick_duration_ms"
          as: "tick_duration_ms"
        metricsQuery: avg(<<.Series>>{<<.LabelMatchers>>}) by (<<.GroupBy>>)
